.header {
    background-image: linear-gradient(rgb(66, 66, 66), rgb(32, 32, 32));
    padding: 30px 0px;
    /* position: relative; */
    grid-area: header;

    a {
        color: white;
        text-transform: uppercase;
        transition: font-weight color scale 0.3s;

        &:hover {
            color: rgb(155, 148, 135);
            font-weight: bold;
            transform: scale(1.1);
        }
    }
}


.navbar {
    a img {
        width: 7.5rem;
        height: 7.5rem;
        filter: invert(100%);

        &-toggler {
        filter: invert(100%);
        }
    }
}