

.header {
    background-image: linear-gradient(rgb(66, 66, 66),rgb(32, 32, 32));
    padding: 30px 0px;
    /* position: relative; */
    grid-area: header;
}

.header a {
    color: white;
    text-transform: uppercase;
    transition: font-weight color scale 0.3s;
}

.header a:hover{
    color: rgb(155, 148, 135);
    font-weight: bold;
    transform: scale(1.1);
    }

/* .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; */
    /* max-width: 1200px;
    margin: 0 auto; */
    /* position: sticky;

} */

.navbar a img {
    width: 7.5rem;
    height: 7.5rem;
    filter: invert(100%);
}

/* .header__content span {
    display: none;
} */

/* .header__content span a img {
    width: 2.5rem;
    height: auto;
    filter: invert(100%);
    margin-top: 1rem;
} */
/* 
.content__navbar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


.content__navbar li {
    margin: 0 15px;
}

.content__navbar li a {
    color: white;
    text-decoration: none;
} */

.navbar-toggler {
    filter: invert(100%);
}


.main {
    background-image: url(../multimedia/fondocard.jpg);
     background-size: cover;
    color: white;
    /* font-size: 1rem;
    padding: 30px 200px;
    display: flex; */
    /* grid-area: main; */
}
