.main {
    background-image: url(../multimedia/fondocard.jpg);
    background-size: cover;
    color: white;
    /* font-size: 1rem;
    padding: 30px 200px;
    display: flex; */
    /* grid-area: main; */
}

/* .main__content {
    max-width: 1200px;
    margin: 0 auto;

} */

.main__content h1,
h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.main__content p {
    text-align: center;
}

.main__content h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
}

@mixin parallax-base ($imagenfondo) {
    width: 100%;
    height: 400px;
    background-image: $imagenfondo;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main__indexparallax {
    @include parallax-base(url(../multimedia/slider/imagenslider1C.jpg));
}

.main__serviciosparallax {
    @include parallax-base(url(../multimedia/slider/imagenslider2.jpg));
}

.main__contactoparallax {
    @include parallax-base(url(../multimedia/slider/imagencontacto.jpg));
}

.bg-gris {
    background-image: url(../multimedia/fondocontacto.jpg);
    background-size: cover;
    color: black;
}

.bg-grisclaro {
    background-image: url(../multimedia/fondo-blanco.jpg);
    background-size: inherit;
    color: black;
}


// BOTONES INDEX

.btn-index {
    display: flex;
    justify-content: center;
    gap: 10px;


    &1 a {
        transition: all 0.3s;

        &:hover {
            border: 2px solid white;
            background-color: rgb(32, 32, 32);
            color: white;
            transform: scale(1.1);
        }
    }

    &2 a {
        transition: all 0.3s;

        &:hover {
            border: 2px solid black;
            background-color: white;
            color: black;
            transform: scale(1.1);
        }
    }
}

.btn-base {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.btn-nosotros {
    @extend .btn-base;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.btn-elchef {
    @extend .btn-base;
    border: 2px solid white;
    background-color: rgb(32, 32, 32);
    color: white;
}

// CARROUSEL

/* .carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 width: 100%;
} */

.carousel-item img {
    width: 20%;
    height: 30%;
}

.effect {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}


// GALERIA DE IMAGENES

.galeria {
    justify-items: center;

}

.galeria img {
    max-width: 260px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transition: transform 2.2s;
}

.galeria img:hover {
    transform: scale(1.45);
}

.main__content ul li {
    text-align: center;
}

.main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

// CARD DE PRODUCTOS

.card {
    background-image: url(../multimedia/fondocard.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;



}

/* .card__header {
    position: relative;
} */

/* .card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
} */

/* .card__header small {
    background-color: black;
    color: white;
    padding: 8px;
    position: absolute;
    right: 0;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid white;
} */


.card-title {
    /* margin-bottom: 10px; */
    text-transform: uppercase;
    font-weight: bold;
    /* text-align: center; */
}

/* .card__description {
    margin-bottom: 25px;
} */


/* .card__link {
    background-color: black;
    border-radius: 40px;
    padding: 6px;
    color: white;
  } */

.card ul {
    padding-left: 0;
}

.card a {
    transition: all 0.3s;
    text-decoration: none;
}

.card a:hover {
    background-color: white;
    font-weight: bold;
    color: black;
    transform: scale(1.1);
    border: solid white 2px;
}


/* .card__header--strong {
    text-transform: uppercase;
    font-weight: bold;
} */

// FORMULARIO DE CONTACTO

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

label {
    grid-column: 1 / 2;
    font-weight: 600;
}

input,
select,
textarea,
button {
    grid-column: 2 / 3;
}

.form label {
    font-weight: bold;
}